$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';
@import 'theme';
