body {
  background-color: $background-color;
  color: $font-color;
  font-family: 'Patrick Hand SC', cursive;
}

form {
  color: $black;
}

a {
  text-decoration: none;
}

.align {
  text-align: center;
}

.intro {
  font-size: 20px;
  text-align: center;
}

.message {
  text-align: center;
}

.box {
  border: 1px solid $white;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}

.large-modal {
  color: $black;
  font-size: 20px;
}

.frink {
  border-radius: 10% / 50%;
  float: left;
  height: 150px;
  width: 100px;
}
