body {
  background-color: $background-color;
  color: $font-color;
  font-family: 'Handlee', cursive;
}

form {
  color: $white;
  font-size: 20px;
}

input {
  color: $black;
  font-weight: bold;
}

a {
  color: $red;
  text-decoration: none;
}

.welcome {
  // color: $black;
  font-size: 60px;
  text-align: center;
}

.sub-welcome {
  // color: $black;
  font-size: 30px;
  text-align: center;
}

.intro {
  border-radius: 10% / 25%;
  border-style: solid;
  font-size: 20px;
  margin: 5px;
  padding: 15px;
  padding-left: 10%;
}

.sign-in {
  text-align: center;
}

.message {
  text-align: center;
}

.box {
  border: 1px solid $white;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}

.large-modal {
  color: $black;
  font-size: 20px;
}

.frink {
  border-radius: 10% / 50%;
  float: right;
  height: 150px;
  width: 100px;
}

#message {
  color: $black;
  font-size: 20px;
  font-weight: bold;
}

.gameboard {
  margin: 10px auto;
  position: relative;
  text-align: center;
  width: 45%;
}

.cell {
  border-radius: 20%;
  height: 150px;
  margin: 10px;
  padding: 10px;
  width: 150px;
}
