body {
  background-color: $background-color;
  color: $font-color;
}

form {
  color: $black;
}

a {
//  color: $white;
  text-decoration: none;
}

.align {
  text-align: center;
}

.intro {
  font-size: 20px;
  text-align: center;
}

.message {
  text-align: center;
}

.box {
  border: 1px solid $white;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}

.large-modal {
  font-size: 20px;
  color: $black;
}
